body {
    margin: 0;
    font-family: "Smythe", system-ui;
}

header {
    margin-bottom: 22px;
}

p {
    margin: 8px 0;
}

h3 {
    margin: 0;
    font-size: 28px;
    font-weight: 400;
}

ul {
    padding-inline-start: 0;
}

.content {
    margin: 0 auto;
    width: 600px;
}

.menu {
    margin: 0 46px;
    display: flex;
}


.menu-item {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 45px 0px;
    margin: 0 50px;
    border-bottom: 1px solid #D2D2D2;
}

.item-picture {
    font-size: 70px;
    margin-right: 31px;
}


.add-remove-display {
    margin-left: auto
}

.hide {
    display: none !important;
}

.add-remove-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-quantity {
    margin-top: 10px;
    border: 2px solid #ccc;
    padding: 10px 15px;
    border-radius: 6px;
    font-weight: bold;
    transition: border-color 0.2s ease;
}

/* Bill */

.bill {
    margin: 0 50px;
    text-align: center;
}

.bill-list-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 22px;
}

.bill-list-item div {
    display: flex;
}


#bill-title {
    margin-bottom: 65px;
}

.bill-result {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid black;
    padding-top: 14px;
    margin-top: 10px;
}

/* Modal */
.modal {
    position: fixed;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: fit-content;
    width: 500px;
    padding: 0 25px 30px 25px;
    background-color: white;
    box-shadow: 5px 5px 255px rgba(0, 0, 0, 0.2); /* This creates the shadow */
}

.modal-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 22px;
}

.card-details-form {
    display: flex;
    flex-direction: column;
}

.card-details-form input {
    height: 70px;
    width: 80%;
    margin: 23px auto 0px auto;
}

.pay-btn {
    display: block;
    height: 70px;
    background-color: #16DB99;
    width: 80%;
    margin: 45px auto 0 auto;
}

.close-modal-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.close-modal-btn:hover,
.close-modal-btn:focus {
    color: #F43F5E;
    border-color: #F43F5E;
}

/* Menu and Bill Buttons */

button:hover, 
button:focus {
    cursor: pointer;
}

.add-btn,
.remove-btn {
    margin-left: auto;
    margin-bottom: auto;
    background-color: white;
    height: 60px;
    width: 60px;
    border: 1.5px solid #DEDEDE;
    border-radius: 50%;
    font-size: 10px;
}

.add-btn:hover,
.add-btn:focus {
    background-color: #16DB99;
    border-color: #393333;
}

.remove-btn:hover,
.remove-btn:focus {
    background-color: #F43F5E;
    border-color: #393333;
}

.remove-bill-btn {
    font-size: 12px;
    color: #BBBBBB;
    border: none;
    background-color: white;
    margin-left: 15px;
}

.remove-bill-btn:hover,
.remove-bill-btn:focus{
    color: #F43F5E;
}

.complete-order-btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 16px;
    width: 100%;
    padding: 18px 0;
    color: #FFFFFF;
    background-color: #16DB99;
    margin-top: 50px
}
.complete-order-btn:hover,
.complete-order-btn:focus {
    background-color: #059669;
}

/* Thanks-section */
#thanks-section {
    width: 500px;
    height: 120px;
    background-color: #ECFDF5;
    text-align: center;
    margin: 45px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Typography */

.menu-item-info, .price{
    font-size: 20px;
}

.menu-item-info h3 {
    font-size: 28px;
}

.gray-text {
    color: #8B8B8B;
    font-size: 16px;
}

input, button {
    font-family: inherit;
}

.modal {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modal-title {
    font-size: 24px;
    font-weight: 700;
}

.card-details-form input {
    font-size: 20px;
}

.pay-btn {
    font-size: 20px;
    color: white;
    font-weight: 700;
}

#thanks-section {
    font-size: 32px;
    color: #065F46;
}